<!DOCTYPE html>
<html lang="en" xml:lang="en" id="pgs">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<link href="stylesheets/gamestyle.css" type="text/css" rel="stylesheet">
<head>
	<link rel="shortcut icon" href="#">
	
	
	<title>Create The Glass Plate Game</title> </head>
<body>
	<div class="top-left"><div class="top-logo"><a href="/" aria-label="link back to main page"><img src="/images/theGPGSM.png" alt="glass plate game graphic"></a></div>
	
	<button class="all-home-buttons" id="create-button" aria-label="create game button">create game</button>

	<p></p>
	<div id="scroll-div">
	</div>
	<script type="text/javascript" src="/javascripts/cardSelector.js"></script>

	<p></p><div id="divShareId" aria-label="copy game code to clipboard">
	<div id="divGameId"></div></div>
	<p></p><div id="divGoToJoin" aria-label="go to join game button and link"></div>
	<script type="text/javascript" src="/javascripts/creategamejs.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
		
	</div>
</body>
	