
		<div class="container">
			<hr>
			<h1>List of games</h1>
			<hr>
			<div>
				<div id="games"></div>
			</div>
		</div>

	<div id="editGameModal" class="modal" tabindex="-1" role="dialog">
		
	</div>
		<div><p>Info here.</p></div>
		
		<script type="text/javascript" src="/javascripts/playgamejs.js"></script>
