<!DOCTYPE html>
<html lang="en" xml:lang="en" id="pgs">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<link href="stylesheets/protostyle.css" type="text/css" rel="stylesheet">

<head>
	<link rel="shortcut icon" href="#">


	<title>Play the Glass Plate Game</title> </head>
<body>
	<div class="top-left"><div class="top-logo"><a href="/" aria-label="link back to main page"><img src="/images/theGPGSM.png" alt="glass plate game graphic"></a></div>
		
		<div class="join-box"><h3>1) Enter game ID:</h3>
		<input type='text' id='theGameId' aria-label="enter game code here">
		<h3>2) Click </h3>
		<button class="all-home-buttons" id="join-button" aria-label="join game button">join game</button></div>
		<div id = 'divPlayers' aria-label="players joining game"></div></div>
		<div id = 'divBoard' aria-label="the glass plate game board">
			<script type="text/javascript" src="/javascripts/joingamejs.js"></script>
			<script type="text/javascript" src="/javascripts/pixi.min.js"></script>
			<script type="text/javascript" src="/javascripts/IO.js"></script>
		</div>
</body>
	