:root {
	--ltgreen: #ECFFF5;
	--ltpurple: #F6F1FF;
	--ltpink: #FFF1FB;
	--ltblue: #DAE5F5;
	--ltyellow: #FFF9DB;
	--drkgreen: #53FCA2;
	--drkpurple: #B38BFC;
	--drkpink: #FF8ADD;
	--drkblue: #7EB2FC;
	--drkyellow: #FFE76E;
}


html{
	background-color: #FFFFFF;
	z-index: -2;
	font-family: 'Playfair Display', serif;
	margin: auto;
	height: 100%;
	width: 100%;
}

body{
	display: flex;
}


.title {
	color: #000000;
	font-size: 2em;
}

.title-image{
	
}

.centered {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.top-left {
	position: fixed;
	top: 5%;
	left: 5%;
}

.make-board{
	position: fixed;
	top: 40%;
	left: 30%;
	display: flex;
	justify-content: space-around;
}


#scroll-div-2 {
	margin: 5px 5px 5px 5px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	word-wrap: break-word;
	overflow-y: scroll;
	width: 130px;
}

#scroll-div-3 {	
	margin: 5px 5px 5px 5px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	word-wrap: break-word;
	overflow-y: scroll;
	width: 130px;
}

#scroll-div-4{	
	margin: 10px 5px 5px -5px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 500;
	width: 100px;
	
}
#scroll-div {
	margin: 20px 5px 5px -35px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	word-wrap: break-word;
	overflow-y: scroll;
	height: 250px;
}

.playersAndBoard {
	display: flex;
	justify-content: flex-start;
}


#divBoard{
	transform: scale(0.75);
	margin: 0px 0px 0px 220px;
}

.top-logo{
	margin: 20px 20px 10px -20px;
}

@media (max-width: 320px) {}
@media (min-width: 321px) and (max-width: 375px){}
@media (min-width: 376px) and (max-width: 599px){}
@media (min-width: 600px) and (max-width: 767px){}
@media (min-width: 768px) and (max-width: 1023px){}
@media (min-width: 1024px) and (max-width: 1349px){}
@media (min-width: 1350px) and (max-width: 1919px){}
@media (min-width: 1920px){}

a.button-link{
	color: #000000;
	text-decoration: none;	
}
a.button-link:focus{
	color: #000000;
	text-decoration: none;
}
a.button-link:hover{
	color: #000000;
	text-decoration: none;
}
.all-home-buttons{
	background-color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	color: #000000;
	padding: 3px 19px 9px 19px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-variant: small-caps;
	line-height: 97%;
	border-radius: 25px;
	box-shadow: inset 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-group{
	display: flex;
	justify-content: center;
}

#start-game{
	height: 40px;
	width: 200px;
	cursor: pointer;
	background-color: var(--ltpink);
	
}

.start1{
	margin: 10px 0px 0px -50px;
	
}

.start2{
	margin: 10px 0px 0px -255px;
	
}

#create-button{
	background-color: var(--ltgreen);
	margin: 10px 30px 0px 10px;
	height: 40px;
	width: 200px;
	cursor: pointer;
	
}

#create-button:hover, #create-button:focus{
	background-color: var(--drkgreen);
}

.dropdown{
	position: relative;
	display: inline-block;
		
}

.dropdown-content{
	display: none;
	position: absolute;
	min-width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 5px 0px 0px 20px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	padding: 12px 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	
}

.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	
}

.dropdown-content a:hover {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	
}

.show{
	display: block;
}

.d-c-create{
	background-color: var(--ltgreen);
	
}

.d-c-create a:hover {
	background-color: var(--drkpurple);
}

#join-button{
	background-color: var(--ltpurple);
	margin: 10px 30px 0px 10px;
	height: 40px;
	width: 200px;
	cursor: pointer;
	
}

#join-button:hover, #join-button:focus{
	background-color: var(--drkpurple);
}


.d-c-join{
	background-color: var(--ltpurple);
}


.d-c-join a:hover {
	background-color: var(--drkpurple);
}

#divJoinWithCode{
	color: var(--darkpurple);
	margin: 5px 5px 5px 30px;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}


#submit-btn{
	margin: 5px 5px 5px 55px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	
}

#leave-button{
	background-color: var(--ltyellow);
	margin: 10px 30px 0px 10px;
	height: 40px;
	width: 200px;
	
}

.gotojoin-button{
	background-color: var(--ltpurple);
	margin: 10px 30px 0px 10px;
	height: 40px;
	width: 200px;
	
}

#other-button{
	background-color: var(--ltpink);
	margin: 10px 30px 0px 10px;
	height: 40px;
	width: 200px;
}

#other-button:hover, #other-button:focus{
	background-color: var(--drkpink);
}



.card {
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 200px;
}

.join-box{
	display: flex;
	justify-content: flex-start;
	margin: -40px 0px -15px 20px;
	font-size: 1.35rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-variant: small-caps;
	line-height: 130%;
}

#theGame{
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 300;
}


#theGameId{
	background: var(--ltpurple);
	border-color: black;
	width: 100px;
	height: 35px;
	margin: 0px 20px 0px 0px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	
}

#chat {
	width: 220px;
	margin: 10px 0px 15px 20px;
}
#chat-messages {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	line-height: 120%;
	height: 400px;
	word-wrap: break-word;
	overflow-y: scroll;
}

#divBoard{
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-weight: 400;
	line-height: 120%;
	

#select-button{
	background-color: var(--ltgreen);
	margin: 10px 30px 0px 10px;
	height: 40px;
	width: 200px;
	
}